body {
    background-color: #2d2d2d;
}

#error {
    color: #b64141;
    font-weight: bold;
    text-align: center;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


#buttons {
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

#info {
    color: white;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
}

#activity {
    color: white;
    display: inline-block;
    position: absolute;
    margin-left: -340px;
    margin-top: 2px;
}

#map {
    height: 90%;
    width: 100%;
}